:root{
  --white-color: #FFFFFF;
  --primary-color: #5F0A87;
  --secondary-color: #A4508B;
  --gap: 3rem;
}

/* medium device
  700px -> 1000px de largura
*/
*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #2E1A47;
}

ul{
  list-style: none;
}

a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}

section{
  background-color: var(--white-color);
  min-height: 100vh;
  width: 80vw;
  margin: auto;
  padding: 5rem;
}

/*********************************** Menu flutuante ***********************************/
.menu-flutuante{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /*border-bottom: 0.2rem solid var(--primary-color);*/
  background-color: var(--white-color);
  z-index: 1;
}

.menu-flutuante-grid{
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 1rem 0rem 1rem 6rem;
}

.menu-flutuante-flex{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.6rem;
}

/*********************************** Quem Somos ***********************************/
/*#quem-somos{
  margin-top: 2rem;
}*/

.quem-somos-grid{
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
}

.quem-somos-grid div{
  position: relative;
}

.quem-somos-grid h1{
  font-size: 8rem;
}

.quem-somos-grid h2{
  font-size: 2.5rem;
  font-style: italic;
  position: relative;
  bottom: 1rem;
  left: 7.6rem;
  margin-bottom: 2rem;
}

.quem-somos-grid img{
  width: 80%;
  justify-self: right;
}

/*********************************** Onde estamos ***********************************/
.onde-estamos-grid{
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  gap: var(--gap);
  justify-content: center;
}

.onde-estamos-grid iframe{
  width: 100%;
}

.onde-estamos-flex{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.onde-estamos-flex h1{
  font-size: 5rem;
  margin-bottom: 3rem;
}

.onde-estamos-flex a{
  margin-top: 8rem;
  padding: 2rem;
  border: 0.2rem solid var(--primary-color);
  border-radius: 2rem;
}

.onde-estamos-flex a:hover{
  color: var(--white-color);
  background-color: var(--primary-color);
  transition: 150ms all ease-in-out;
}

/*********************************** Back to top ***********************************/
.back-to-top{
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 5rem;
  height: 5rem;
  background-color: var(--white-color);
  color: var(--primary-color);
  border: 0.1rem solid var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-to-top span{
  transform: rotate(90deg);
  font-size: 2.5rem;
  font-weight: bold;
}

.back-to-top:hover{
  color: var(--white-color);
  background-color: var(--primary-color);
  transition: 150ms all ease-in-out;
}